{% extends "base.html" %}
{% load static %}
{% load products_tags %}

{% block content %}
        <!-- Контент -->
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                    <!-- Пустой блок на усмотрение -->
                </div>
                <div class="col-lg-10">
                    <!-- Контент на странице -->
                    <div class="row">
                        <!-- Форма фильтров -->
                        <div class="dropdown mb-2">
                            <button class="btn btn-secondary dropdown-toggle btn-dark" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Filters
                            </button>
                    
                            <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url  %}{% endif %}" method="get" class="dropdown-menu bg-dark" data-bs-theme="dark">
                                {% if request.GET.q %}
                                    <input type="hidden" name="q" value="{{request.GET.q}}"> <!--if also -?q=стул&on_sale=on&order_by=default -->
                                {% endif %}
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="checkbox" name="on_sale" id="flexCheckDefault" value="on"{% if request.GET.on_sale == 'on' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexCheckDefault">
                                        Discounted Products
                                    </label>
                                </div>
                                <p class="text-white mx-3 mt-3">Sort:</p>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault1" value="default" {% if not request.GET.order_by or request.GET.order_by == 'default' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        By default
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault2" value="price" {% if request.GET.order_by == 'price' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        From cheap to expensive
                                    </label>
                                </div>
                                <div class="form-check text-white mx-3">
                                    <input class="form-check-input" type="radio" name="order_by" id="flexRadioDefault3" value="-price" {% if request.GET.order_by == '-price' %}checked{% endif %}>
                                    <label class="form-check-label" for="flexRadioDefault3">
                                        From expensive to cheap
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-primary mx-3 mt-3">Submit</button>
                            </form>
                        </div>

                        {% if request.GET.q %}
                            <h3 class="mt-4">Search results by - {{ request.GET.q }}</h3>
                            {% if not products %}
                                <h2 class="mt-4">Not found</h2>
                            {% endif %}
                        {% endif %}
                        
                        {% for product in products %}
                            <!-- Карта товара -->
                            <div class="col-lg-4 col-md-6 p-4">
                                <div class="card border-primary rounded custom-shadow">
                                    {% if product.image %}
                                        <img src="{{product.image.url}}" class="card-img-top" alt="{{product.name}}">
                                    {% else %}
                                        <img src="{% static "staticfiles/images/Not found image.png" %}" class="card-img-top" alt="...">
                                    {% endif %}
                                    <div class="card-body">
                                        <a href="{% url "catalog:product" product.slug %}">
                                            <p class="card-title">
                                                {% autoescape off %} <!-- display styles -->
                                                    {% if product.headline %} <!--created field in usils.py q_search -->
                                                        {{product.headline}}
                                                    {% else %}
                                                        {{product.name}}
                                                    {% endif %}
                                                {% endautoescape %}
                                            </p>
                                        </a>
                                        <p class="card-text">                                                
                                            {% autoescape off %}
                                                {% if product.bodyline %}
                                                    {{product.bodyline|truncatechars:90}}
                                                {% else %}
                                                    {{product.description|truncatechars:40}}
                                                {% endif %}
                                            {% endautoescape %}
                                        </p>
                                        <p class="product_id">id: {{product.display_id}}</p>
                                        <div class="d-flex justify-content-between">
                                            {% if product.discount %}
                                                <p><s>{{product.price}}</s> $</p>
                                                <p><strong>{{ product.sell_price}} $</strong></p>
                                                <span class="badge bg-warning text-dark">Скидка {{product.discount}} %</span>
                                            {% else %}
                                                <p><strong>{{product.price}} $</strong></p>
                                            {% endif %}
                                            <a href="#" class="btn add-to-cart">
                                                <img class="mx-1" src="{% static "staticfiles/icons/cart-plus.svg" %}" alt="Catalog Icon"
                                                    width="32" height="32">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if products %}
                        <!-- Пагинация -->
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center my-4">
                                <div class="custom-shadow d-flex">
                                    <li class="page-item {% if not products.has_previous %}disabled{% endif %}">
                                        <a class="page-link" href="{% if products.has_previous %}?{% change_params page=products.previous_page_number %}{% else %}#{% endif %}">Previous</a>
                                    </li>
    
                                    {% if products.number|add:-2 > 1 %}
                                        <li class="page-item">
                                            <a class="page-link" href="?{% change_params page=1 %}">1</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                    {% endif %}
    
                                    {% for page in products.paginator.page_range %}
                                        {% if page >= products.number|add:-2 and page <= products.number|add:2 %}
                                            <li class="page-item {% if products.number == page %}active{% endif %}">
                                                {% comment %} <a class="page-link" href="?page={{page}}">{{ page }}</a> {% endcomment %}
                                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                                            </li>
                                        {% endif %}
                                    {% endfor %}
    
                                    {% if products.number < products.paginator.num_pages|add:-2 %}
                                        <li class="page-item disabled">
                                            <span class="page-link">...</span>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?{% change_params page=products.paginator.num_pages %}">{{ products.paginator.num_pages }}</a>
                                        </li>
                                    {% endif %}
    
                                    <li class="page-item {% if not products.has_next %}disabled{% endif %}">
                                        <a class="page-link" href="{% if products.has_next %}?{% change_params page=products.next_page_number %}{% else %}#{% endif %}">Next</a>
                                    </li>
                                </div>
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}